.tableCardsHeader {
    position: sticky;
    top: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 24% 33% 27% 16%;
    grid-template-rows: 1fr;
    gap: 0;
    grid-template-areas:
    ". . . .";
    text-align: center;
    background-color: #ECECF9;
    z-index: 1;
    height: 50px;
    align-items: center;
}

.headerItem {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .headerItem {
        font-size: 16px;
    }
}

@media (max-width: 950px) {
    .headerItem {
        font-size: 14px;
    }
}

.tableItemContainer {
    font-size: 11px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 98%;
    margin-top: 5px;
    margin-left: 1%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #F8F7FD;
    padding: 10px 0 ;
}

.btnGroup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: end;
}

.button {
    text-transform: uppercase;
    background-color: #D7D8EF;
    color: #21268F;
    padding: 5px 7px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 9px;
    font-weight: bolder;
    min-width: 35px;
    text-align: center;
    margin-right: 2px;
}

.button:hover {
    background-color: #ecf1f5;
    border: 2px solid #21268F;
    color: #21268F;
    transition: background-color .2s linear, color .2s linear;
}