.addItemContainer {
    background-color: #F9F9FE;;
    margin: 30px auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 30px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    font-family: 'Montserrat', sans-serif;
    color: #2D2E46;
}


.addItemContainer h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.mainText {
    font-size: 18px;
    margin-bottom: 10px;
}

.answer{
    font-size: 18px;
    margin-bottom: 30px;
}

.variantsContainer {
    display: flex;
    flex-direction: column;
}

.inputForm {
    cursor: pointer;
    margin-bottom: 10px;
}

.inputForm:hover {
    text-decoration: underline;
}
