.addItemContainer {
    background-color: #F9F9FE;;
    margin: 30px auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 30px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    font-family: 'Montserrat', sans-serif;
    color: #2D2E46;
}


.addItemContainer h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.mainText {
    font-size: 18px;
    margin-bottom: 10px;
}

.answer{
    font-size: 18px;
    margin-bottom: 30px;
}

.btnGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px 0 20px;
}

.cancelBtn {
    background-color:  #D7D8EF;
    color: #21268F;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #D7D8EF;
    border-radius: 20px;
    cursor: pointer;
    line-height: 1;
    font-size: 16px;
    padding: 8px 28px;
    text-decoration: none;
    text-align: center;
}

.actionBtn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #21268F;
    border: 2px solid #21268F;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    line-height: 1;
    font-size: 16px;
    padding: 8px 28px;
    text-decoration: none;
    text-align: center;
    -webkit-box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

/*.centerInputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerInputContainer span {
    font-family: 'Montserrat', sans-serif;
    color: #726d6f;
}

.centerInputContainer input {
    width: 80%;
    min-height: 30px;
    border: none;
    border-bottom: 1px solid #5f7271;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}


.makePrivateContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.makePrivateContainer span {
    font-family: 'Montserrat', sans-serif;
    color: #726d6f;
}*/

.variantsContainer {
    display: flex;
    flex-direction: column;
}

.inputForm {
    cursor: pointer;
    margin-bottom: 10px;
}

.inputForm:hover {
    text-decoration: underline;
}
