.cardsList {
    width: 80%;
    height: 80vh;
    margin: auto;
    background: white;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cardsList h2 {
    color: #333
}

.searchContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchContainer input {
    width: 70%;
    height: 38px;
    border-radius: 2px;
    border: 1px solid #635D80;
    background-color: #ECECF9;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
}

.searchContainer button {
    margin-left: 30px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #21268F;
    border-radius: 0.8em;
    color: #21268F;
    cursor: pointer;
    line-height: 1;
    font-size: large;
    padding: .5em 1.5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.searchContainer button:hover {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #21268F inset;
}

.cardsBlock {
    width: 100%;
    height: 68%;
    margin: 20px auto 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    overflow: auto;
}

@media (max-width: 1060px) {

    .searchContainer input {
        width: 48%;
    }

    .searchContainer button {
        font-size: 16px;
        padding: .45em 1.0em;
    }
}

@media (max-width: 785px) {

    .searchContainer h2 {
        font-size: 20px;
    }

    .searchContainer input {
        height: 20px;
    }

    .searchContainer button {
        font-size: 12px;
        padding: .45em 1.0em;
    }
}
