.headerContainer {
    min-height: 50px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linksBlock {
    position: relative;
    left: -535px;
    width: 640px;
    color: white;
    margin-top: 5px;
    transition: left 1s linear;
    border-radius: 3px;
}

.linksBlock:hover {
    left: 0px;
}

.linksBlock span {
    color: #c2c2c8;
    margin-right: 10px;
}

.linksBlock span:hover {
    color: white;
}

.linksPointer {
    font-size: x-large;
}