.packsListBlock {
    width: 80%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
    background: white;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
}

.showPacks {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    padding: 0 30px;
    background: #ECECF9;
    width: 300px;
}

.showPacks button {
    border: none;
    width: 100px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
}

.selected {
    color: white;
    background-color: #9A91C8;
}

.selected:hover {
    background-color: #4f74cb;
}

.hoverSelected {
    background-color: rgba(250, 250, 250, 0.9);
}

.hoverSelected:hover {
    background-color: white;
}

.packsList {
    width: 100%;
    height: 100%;
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchContainer input {
    width: 70%;
    height: 38px;
    border-radius: 2px;
    border: 1px solid #635D80;
    padding-left: 10px;
    background-color: #ECECF9;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.buttonSearch {
    margin-left: 30px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #21268F;
    border-radius: 0.8em;
    color: #21268F;
    cursor: pointer;
    line-height: 1;
    font-size: large;
    padding: .5em 1.5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.buttonSearch:hover {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #21268F inset;
}


.cardsBlock {
    width: 100%;
    height: 65%;
    margin: auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    overflow: auto;
}

.title {
    margin-top: 33px;
    font-size: 18px;
    padding-bottom: 10px;
    color: #333
}

.packListTitle {
    font-size: 22px;
}

/*.rangeValueItem {
    font-size: 14px;
}*/

@media (max-width: 870px) {
    .buttonSearch {
        margin-left: 20px;
        font-size: medium;
        padding: .65em .5em;

    }
}

@media (max-width: 675px) {

    .searchContainer input {
        height: 26px;
    }

    .buttonSearch {
        margin-left: 20px;
        font-size: 13px;
        padding: .55em .3em;

    }
}