.question {
    word-wrap: break-word;
    width: 22%;
}

.ownQuestion {
    word-wrap: break-word;
    width: 17%;
}

.answer {
    width: 36%;
    word-wrap: break-word;
}

.ownAnswer {
    width: 30%;
    word-wrap: break-word;
}

.data {
    width: 26%;
}

.ownData {
    width: 18%;
}

.rating {
    width: 16%;
}

.ownRating {
    width: 20%;
}
